<link rel='stylesheet' href='/../css/clinician_general.css' />
<link rel='stylesheet' href='/../css/all_comments.css' />
<script defer src='/script/comments.js'></script>

<main class='main'>
  <div class='breadcrumbs'>
    <h1 class='normal-weight'><a href='/clinician'>Dashboard</a></h1>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='chevron-right'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M9 5l7 7-7 7'
      ></path>
    </svg>
    <h1>All comments</h1>
  </div>

  <div class='comments'>
    {{#each allComments}}
      <a href='/clinician/{{this.patientObjectID}}'>
        <div class='comment'>
          <div class='subheader'>
            <div>
              {{#each patient}}
                <img
                  class='patient-img'
                  src='/img/profile-photo/{{this.photo_url}}'
                  alt=''
                  title='patient photo'
                />
                <h2>{{this.firstName}} {{this.lastName}}</h2>
              {{/each}}
            </div>
            <p class='date'>{{this.time}}</p>
          </div>
          <p><strong>Blood Glucose:
            </strong>{{this.blood_glucose_level_comment}}</p>
          <p><strong>Weight:
            </strong>{{this.weight_comment}}</p>
          <p><strong>Insulin:
            </strong>{{this.insulinTaken_comment}}</p>
          <p><strong>Exercise:
            </strong>{{this.exercise_comment}}</p>
        </div>
      </a>
    {{/each}}

  </div>
</main>