<link rel='stylesheet' href='/../css/clinician_general.css' />
<link rel='stylesheet' href='/../css/all_notes.css' />

<main class='main'>
  <div class='breadcrumbs'>
    <h1 class='normal-weight'><a href='/clinician'>Dashboard</a></h1>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='chevron-right'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M9 5l7 7-7 7'
      ></path>
    </svg>
    <h1 class='normal-weight'><a
        href='/clinician/{{patient._id}}'
      >{{patient.firstName}} {{patient.lastName}}</a></h1>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='chevron-right'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M9 5l7 7-7 7'
      ></path>
    </svg>
    <h1>All notes</h1>
  </div>

  <div class='subheader'>
    <img
      class='patient-img'
      src='/img/profile-photo/{{patient.photo_url}}'
      alt=''
      title='patient photo'
    />
    <h2>{{patient.firstName}} {{patient.lastName}}</h2>
  </div>

  <div class='notes'>
    {{#each notes}}
      <div class='note'>
        <p>{{this.note}}</p>
        <p class='date'>{{this.time}}</p>
      </div>
    {{/each}}
  </div>
</main>

<script>
  const dates = document.querySelectorAll(".date"); for(let i = 0; i
  <dates.length; i++){ const year = new
  Date(dates[i].textContent*1).getFullYear(); const month = new
  Date(dates[i].textContent*1).getMonth() + 1; const day = new
  Date(dates[i].textContent*1).getDate(); dates[i].textContent =
  `${year}-${month}-${day}`; }
</script>