{{!-- specify the CSS file --}}
<link rel="stylesheet" href="public/css/clinician_general.css" />
<link rel="stylesheet" href="public/css/clinician_dashboard.css" />


{{#each data}}

<div class="dashboard-patient-box">

    <div class="portfolio">
        <img class="patient-photo" src="img/profile-photo/Pat.png" />
        <div class="name-and-gender">
            <button class="btn">
                <p class="name">{{this.patientName}}</p>
            </button>
            <p>{{this.gender}}</p>
        </div>

        <p class="patient-age">Age: <span>{{this.age}}</span></p>
    </div>
    <table>
        <tr>
            <td>Blood glucose Level:</td>
            <td><span>{{this.today_blood_glucose_level}}</span> nmol/L</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td><span>{{this.today_weight}}</span> kg</td>
        </tr>
        <tr>
            <td>Insulin taken:</td>
            <td><span>{{this.today_insulin_taken}}</span> doses</td>
        </tr>
        <tr>
            <td>Exercise:</td>
            <td><span>{{this.today_exercise}}</span> steps</td>
        </tr>
    </table>

</div>
{{/each}}


