<link rel='stylesheet' href='/css/patient/patient_data.css' />

<main>
  {{#with patient}}
    <nav class='main-nav-left'>
      <ul class='main-nav-left-list'>
        <div class='main-nav-left-shade'></div>
        <li class='svg-link data-li'>
          <svg xmlns="http://www.w3.org/2000/svg" width="34.776" height="34.68" viewBox="0 0 34.776 34.68">
            <path id="shuju" d="M180.088,166.447v15.9h15.943v.383a16.325,16.325,0,1,1-16.713-16.276l.388-.005h.383Zm-2.893,3.172-.255.051A13.37,13.37,0,1,0,192.8,185.484l.051-.254H179.7a2.373,2.373,0,0,1-2.5-2.3l-.006-.2Zm5.7-5.292a15.15,15.15,0,0,1,15.258,14.83l0,.391v.383H182.51v-15.6h.383ZM185.4,167.5v9.544h9.573l-.051-.249a12.255,12.255,0,0,0-9.269-9.243Z" transform="translate(-163.379 -164.326)" fill="#2d5215"/>
          </svg>
          <a class='main-nav-left-link data-text' href='/patient/{{this._id}}/data'>Data</a>
        </li>
        <li class='svg-link'>
          <svg xmlns="http://www.w3.org/2000/svg" width="32.773" height="36.483" viewBox="0 0 32.773 36.483">
            <path d="M135.48,89.224a10.256,10.256,0,0,0,3.445-7.662V71.635a1.161,1.161,0,0,0-.283-1.066c-2.046-2.122-5.9-3.439-10.069-3.439-3.922,0-7.535,1.156-9.664,3.092l0,0a1.177,1.177,0,0,0-.562,1V81.562a10.257,10.257,0,0,0,3.492,7.7,13.762,13.762,0,0,0-9.47,11.855,2.283,2.283,0,0,0,2.274,2.492h28.2a2.285,2.285,0,0,0,2.274-2.495A13.854,13.854,0,0,0,135.48,89.224Zm1.083-17.347v7.645a19.244,19.244,0,0,0-15.856-.015V71.8a12.622,12.622,0,0,1,7.866-2.313C131.82,69.492,134.869,70.42,136.564,71.876ZM120.739,82.193l.036.045c1.609-1.279,4.611-2.073,7.834-2.073,3.287,0,6.357.844,7.917,2.153a7.923,7.923,0,0,1-15.786-.125Zm-6.012,19.058a11.581,11.581,0,0,1,6.326-9.1,7.779,7.779,0,0,0-.369,2.349v.612a2.451,2.451,0,1,0,2.362-.076V94.5a5.392,5.392,0,0,1,1.2-3.39c.12-.02.237-.048.357-.064l.026-.006a10.289,10.289,0,0,0,8.009,0,5.375,5.375,0,0,1,1.247,3.456v.509a2.416,2.416,0,0,0-1.221,2.093v1.449a.984.984,0,0,0,1.968,0V97.1a.455.455,0,0,1,.266-.414,1.191,1.191,0,0,0,.168.017,1.155,1.155,0,0,0,.193-.02.455.455,0,0,1,.27.416v1.449a.984.984,0,0,0,1.968,0V97.1a2.416,2.416,0,0,0-1.25-2.109V94.5a7.769,7.769,0,0,0-.474-2.658,11.489,11.489,0,0,1,6.99,9.411H114.727Zm7.208-4.528a.482.482,0,1,1-.482.482A.483.483,0,0,1,121.936,96.724Z" transform="translate(-112.357 -67.13)" fill="#2d5215"/>
            <path d="M439.741,166.6h.657v.657a1.181,1.181,0,1,0,2.362,0V166.6h.657a1.181,1.181,0,1,0,0-2.362h-.657v-.657a1.181,1.181,0,1,0-2.362,0v.657h-.657a1.181,1.181,0,1,0,0,2.362Z" transform="translate(-425.188 -158.495)" fill="#2d5215"/>
          </svg>
          <a class='main-nav-left-link' href='/patient/{{this._id}}/clinician'>Clinician</a>
        </li>
        <li class='svg-link home-li'>
          <svg xmlns="http://www.w3.org/2000/svg" width="50.804" height="43.547" viewBox="0 0 50.804 43.547">
            <g transform="translate(64.536 17.632)">
              <path d="M19.721,38.319h9.657V26.164q0-.585-.346-.939t-.93-.354h-7.07q-.585,0-.948.354t-.363.939ZM13.148,40.3h22.68q1.861,0,2.9-1.019t1.037-2.826V17.907l-3.048-2.073V35.591q0,.815-.416,1.24t-1.214.425H13.892q-.78,0-1.2-.425t-.425-1.24V15.834l-3.03,2.073V36.459q0,1.807,1.028,2.826T13.148,40.3ZM4.27,21.486q0,.585.434,1.037t1.178.452q.372,0,.7-.168t.594-.416L23.9,8.374q.3-.266.656-.275t.673.275L41.906,22.39q.3.248.62.416t.709.168q.656,0,1.116-.39t.461-1.063q0-.78-.585-1.276L26.774,5.592q-1.01-.868-2.206-.868t-2.224.868L4.89,20.246Q4.27,20.76,4.27,21.486Zm30.955-7.9,4.536,3.827V9.455q0-.567-.337-.895t-.886-.328H36.466q-.549,0-.895.328t-.346.895Z" transform="translate(-64.536 -17.632)" fill="#2d5215"/>
            </g>
          </svg>
          <a class='main-nav-left-link home-text' href='/patient/{{this._id}}/'>Home</a>
        </li>
        <li class='svg-link'>
          <svg xmlns="http://www.w3.org/2000/svg" width="35.508" height="35.507" viewBox="0 0 35.508 35.507">
            <path d="M30.045,7.853h-4.78V5.463A5.463,5.463,0,0,0,19.8,0h-4.1a5.463,5.463,0,0,0-5.463,5.463v6.431H5.463A5.463,5.463,0,0,0,0,17.356V31.41a4.1,4.1,0,0,0,4.1,4.1H31.411a4.1,4.1,0,0,0,4.1-4.1v-18.1a5.463,5.463,0,0,0-5.463-5.463ZM2.731,31.41V17.356a2.731,2.731,0,0,1,2.731-2.731h4.78V32.776H4.1A1.366,1.366,0,0,1,2.731,31.41ZM12.974,13.259v-7.8a2.731,2.731,0,0,1,2.731-2.731h4.1a2.731,2.731,0,0,1,2.731,2.731V32.776h-9.56Zm19.8,18.151a1.366,1.366,0,0,1-1.366,1.366H25.265V10.584h4.78a2.731,2.731,0,0,1,2.731,2.731Z" fill="#2d5215"/>
            <path d="M1.146,1.272,3,0" transform="translate(15.215 7.873)" fill="#2d5215" stroke="#2d5215" stroke-linecap="round" stroke-width="1.5"/>
            <path d="M0,0V4" transform="translate(18.215 7.873)" fill="none" stroke="black" stroke-linecap="round" stroke-width="1.5"/>
          </svg>
          <a class='main-nav-left-link' href='/patient/{{this._id}}/ranking'>Ranking</a>
        </li>
        <li class='svg-link me-li'>
          <svg xmlns="http://www.w3.org/2000/svg" width="31.352" height="36.601" viewBox="0 0 31.352 36.601">
            <path class="me_icon" d="M127.723,51.852a8.839,8.839,0,1,0-8.839-8.839A8.839,8.839,0,0,0,127.723,51.852Zm10.254,4.287c-2.5-2.148-6.568-2.7-10.2-2.74h-.15c-3.633.044-7.7.592-10.2,2.74-3.094,2.652-4.163,7.363-4.163,11.685v.451h28.851v-.451C142.14,63.5,141.071,58.782,137.977,56.139Z" transform="translate(-112.012 -32.924)" fill="rgba(255,255,255,0)" stroke="#2d5215" stroke-width="2.5"/>
          </svg>
          <a class='main-nav-left-link me-text' href='/patient/{{this._id}}/me'>Me</a>
        </li>
      </ul>
    </nav>
  {{/with}}

  <section class='data_box'>
    <div class='index_router'>
      <div class='router_header'>History graph</div>
      <select>
        <option value='1'>Blood glucose level</option>
        <option value='1'>Exercise</option>
        <option value='1'>Weight</option>
        <option value='1'>Insulin taken</option>
      </select>
    </div>
    <div>
      <embed class='insert_chart' src='/img/svg/chart_blood.svg' />
    </div>
    <div class='data_table'>
      <div class='table_name'>History data Table</div>
      <div class='table_div'>
        <table>
          <tr>
            <th>Date</th>
            <th>Blood Glucose</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Insulin Taken</th>
          </tr>
          {{#each record}}
            <tr>
              <td class='date_td'>{{time}}</td>
              <td class='data_td'>
                {{#if blood_glucose_level}}
                  {{blood_glucose_level}}
                  mmol/L
                {{else}}
                  /
                {{/if}}
              </td>
              <td class='data_td'>
                {{#if exercise}}
                  {{exercise}}
                  step(s)
                {{else}}
                  /
                {{/if}}
              </td>
              <td class='data_td'>
                {{#if weight}}
                  {{weight}}
                  kg(s)
                {{else}}
                  /
                {{/if}}
              </td>
              <td class='data_td'>
                {{#if insulinTaken}}
                  {{insulinTaken}}
                  dose(s)
                {{else}}
                  /
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>

  </section>
</main>
