<link rel='stylesheet' href='/css/patient/patient_me.css' />
{{#with patient}}
  <main>
    <nav class='main-nav-left'>
      <ul class='main-nav-left-list'>
        <div class='main-nav-left-shade'></div>
        <li class='svg-link'>
          <embed src='/img/svg/data-icon.svg' type='image/svg+xml' />
          <a class='main-nav-left-link' href='data'>Data</a>
        </li>
        <li class='svg-link'>
          <embed src='/img/svg/clinician-icon.svg' type='image/svg+xml' />
          <a class='main-nav-left-link' href='clinician'>Clinician</a>
        </li>
        <li class='svg-link home-li'>
          <embed src='/img/svg/home-icon.svg' type='image/svg+xml' />
          <a class='main-nav-left-link home-text' href='/patient'>Home</a>
        </li>
        <li class='svg-link'>
          <embed src='/img/svg/ranking-icon.svg' type='image/svg+xml' />
          <a class='main-nav-left-link' href='ranking'>Ranking</a>
        </li>
        <li class='svg-link me-li'>
          <embed src='/img/svg/me-icon.svg' type='image/svg+xml' />
          <a class='main-nav-left-link me-text' href='me'>Me</a>
        </li>
      </ul>
    </nav>

    <section class='me_box'>
      <div class='info_box'>
        <img class='info_photo' src='/img/profile-photo/{{this.photo_url}}' />
        <div class='name_id_box'>
          <div class='name'>{{this.patientName}}</div>
          <div class='id_div'>ID:
            <span class='id'>{{this.patientID}}</span></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="6rem" height="6rem" class="change_info h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      </div>
      <div class='info_spec_box'>
        <div class='city_div'>City:<span
            class='city green'
          >{{this.city}}</span></div>
        <div class='gender_div'>Gender:<span
            class='gender green'
          >{{this.gender}}</span></div>
        <div class='age_div'>Age:<span
            class='age green'
          >{{this.age}}</span></div>
        <div class='engage_div'>Engagement rate:<span
            class='engage green'
          >{{this.engagementRate}}</span></div>
      </div>
      <div class='bio_box'>
        <h2 class='bio_header'>Bio</h2>
        <div class='bio_content'>Hi, friend. My name Pat, from a village in east
          west Melb. Nice to meet you.</div>
      </div>
      <div class='badget_box'>
        <h2 class='badget_header'>Badget</h2>
        <div class='badget_container'>
          <embed
            class='badge'
            src='/img/svg/high_engagement_rate.svg'
            type='image/svg+xml'
          />
        </div>
      </div>
    </section>
  </main>
{{/with}}

<script>if(document.querySelector(".engage").textContent < 80){
  document.querySelector(".badge").classList.add("disappear") }
</script>